@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
 
body {
    overflow-x: hidden;
    background-color:#18d1ff1a ;
    width: 100%;
    
}
 
/* Encabezado */
header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    color: #2b7a99;
   
}
 
header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
}
 
/* LOGO */
header .logo {
    display: flex;
    align-items: center;
}
 
header .logo ion-icon {
    font-size: 35px;
    color: black;
    margin-right: 5px;
}
 
header .logo span {
    font-size: 25px;
    font-weight: 800;
    color: #347d9a;
}
 
.imagenLogo img {
    width: 100px;
    height: auto;
    margin-right: -30px;
}
 
.ingresar-button {
    padding: 8px 16px;
    background-color: #bdecff;
    border: none;
    border-radius: 5px;
}
.ingresar-button:hover {
  background-color: #2b7a99;
}


.menu-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-opciones .menu-toggle {
    display: none;
    
}


.menu-opciones .menu {
    list-style: none;
    display: flex;
}


.menu-opciones .menu li {
    margin: 15px;
}


.menu-opciones .menu a {
    color: #2b7a99;
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: bold;
}


.menu-opciones .menu a:hover {
    color:#ffffff;
}


  @media (max-width: 1000px){
    header .contenedor {
        padding: 20px; /* Reducción del espacio alrededor del header */
    }
    
    .logo {
        font-size: 20px; /* Reducción del tamaño del logo */
    }

    .imagenLogo img {
        width: 80px; /* Reducción del tamaño del logo */
    }
    
    .menu-opciones .menu-toggle {
        display: block; /* Muestra el ícono del menú */
    }
    
    .menu-opciones .menu {
        display: none; /* Oculta el menú */
    }
    
    .menu-opciones .menu.active {
        display: flex; /* Muestra el menú al hacer click en el ícono */
        flex-direction: column; /* Cambia la dirección del menú */
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #fff; /* Ajusta el color de fondo del menú */
        padding: 10px;
        z-index: 99;
    }
    
    .menu-opciones .menu li {
        margin: 10px 0; /* Espacio entre elementos del menú */
    }
  }
  @media (max-width: 500px){
    header .contenedor {
        padding: 10px; /* Reducción del espacio alrededor del header */
    }
    .logo{
        margin-top: -35px;
    }
    #logo{
        font-size: 16px;
    }
    .menu-opciones{
        margin-top: -35px;
    }
    
    .menu-opciones .menu.active {
        display: flex; /* Muestra el menú al hacer click en el ícono */
        flex-direction: column; /* Cambia la dirección del menú */
        top: 50px;
        right: 0;
        background-color: #fff; /* Ajusta el color de fondo del menú */
        padding: 10px;
        z-index: 99;
    }
    
    .menu-opciones .menu li {
        margin: 10px 0; /* Espacio entre elementos del menú */
    }
    
  }
  /*Estilo main*/
  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    
  }
  
  .content {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 8px; 
    color: #347d9a;
  }
  .content h1{
    margin-top: 100px;
    margin-right:30px ;
    font-size: 35px;
  }
  button {
    margin-top: 30px;
    margin-right: 30px;
    padding: 8px 16px; /* Alineado con el tamaño del otro botón */
    font-weight: bold;
    border: none;
    border-radius: 5px; 
    display: inline-block;
    transition: background-color 0.2s ease;
    cursor: pointer;
    color: white;
   
    
}
button a {
  text-decoration: none; 
  color: #2b7a99; 
}

button a:hover {
  color: #fff;
}

  .image {
    margin-left: 200px;
    max-width: 70%;
    height: auto;
  }
  
  /* Media queries para hacerlo responsivo */
  @media only screen and (min-width: 768px) {
    .container-1 {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: left;
     
    }
  
    .content {
      margin-top:8px ;
      margin-right: -10px;
      align-items: center;
    }
  
    .button {
      margin-top: 0;
    }
  }
  .image{
    max-width: 70%;
    margin-left: 90px;
    margin-top: 10px;
  }
  .content h1{
    margin-top: 20px;
    margin-right:-50px ;
  }
/**/
/* Estilo psicólogos */
/* Ajustes para el texto a la izquierda */
.left-text {
    display: flex;
    position: relative;
    left: 0;
    width: 40%;
    padding-right: 100px;
    font-size: 17px;
    margin-right: 200px; 
    margin-left: -250px; 
    font-weight: bold;
    color: #2b7a99;
    margin-top: 50px;
  }
  
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%; 
    margin: 0 auto;
    color: #2b7a99;
    padding-left: 10px;
    margin-left: 10px; 
    margin-top: 100px;
  }
  
  
  .outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .wrapper .card {
    background: #fff;
    width: 480px;
    display: flex;
    align-items: center;
    padding: 25px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    justify-content: center; 
    border-radius: 200px 40px 40px 200px;
    box-shadow: 0px 10px 15px rgba(158, 218, 247, 0.349);
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
  }
  
  
  .card .content {
    display: flex;
    align-items: center;
    width: 100%; 
    justify-content: space-evenly; 
  }
  
  
  .outer:hover .card {
    animation-play-state: paused;
  }
  
  
  .wrapper .card:last-child {
    animation-delay: calc(-3s * var(--delay));
  }
  
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: translateY(100%) scale(0.5);
    }
    5%,
    20% {
      opacity: 0.4;
      transform: translateY(100%) scale(0.7);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0%) scale(1);
    }
    45%,
    60% {
      opacity: 0.4;
      transform: translateY(-100%) scale(0.7);
    }
    65%,
    100% {
      opacity: 0;
      transform: translateY(-100%) scale(0.5);
    }
  }
  
  
  .card .content {
    display: flex;
    align-items: center;
    
  }
  
  .wrapper .card .img {
    height: 94px;
    width: 92px;
    position: absolute;
    left: -5px;
    background: #fff;
    border-radius: 100%;
    padding:2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .card .img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  .card .details {
    margin-left: 80px;
  }
  
  
  .details span {
    font-weight: 600;
    font-size: 18px;
  }
  
  
  .card a {
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    background: #86b7e7;
    transition: all 0.3s ease;
  }
  
  
  .card a:hover {
    transform: scale(0.94);
  }
 /* Estilo psicólogos para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .left-text {
      width: 100%;
      padding-right: 0;
      font-size: 14px;
      margin-right: 0;
      margin-left: 0;
      font-weight: normal;
      color: #2b7a99;
      margin-top: 20px;
      margin-bottom: 100px;
      text-align: center; 
      padding-left: 20px; 
    }
  
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
      margin: 20px ; /* Espaciado general */
      color: #2b7a99;
      padding: 0;
      margin-left: 0;
      margin-top: 20px;
    }
  
    .outer {
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content:center;
    }
  
    .wrapper .card {
      width: 100%; /* Ajusta el ancho de las tarjetas */
      margin-bottom: 80px;
      opacity: 1;
      pointer-events: auto;
      position:sticky; /* Elimina el posicionamiento absoluto */
      animation: none; /* Elimina la animación */
      box-shadow: 0px 10px 15px rgba(158, 218, 247, 0.349);
    }
  
    .card .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; /* Alinea el texto al centro */
      padding: 5px;
    }
  
    .card .img {
      position: static; /* Elimina el posicionamiento absoluto */
      margin-bottom: 150px;
    }
  
    .card .details {
      margin-left: 0;
    }
  
    .details span {
      font-weight: 600px;
      font-size: 16px;
    }
  
    .card a {
      margin-top: 10px;
      padding: 4px 10px;
      border-radius: 25px;
      color: #fff;
      background: #86b7e7;
      transition: all 0.3s ease;
    }
  
    .card a:hover {
      transform: none;
    }
  }

/*Colaborar conteiner*/
.container-2 {
    text-align: center; 
    margin-top: -70px; 
    color: #2b7a99;
    font-weight: bold;
    margin-top: 120px;
   
  }
  .colaborar-container-2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px;
   
  }
  
  
  .colaborar-container-2 h3 {
    width: 100%; 
    text-align: left;
   
  }
  .colaborar-container-2 .text {
    flex: 1; /* Ocupa todo el espacio restante */
    text-align:center;
    margin-left:10px; /* Espacio entre la imagen y el texto */
    
  }
  
  
  .colaborar-container-2 .image img {
    max-width: 80%; 
    height: auto;
    margin-right: 10px; /* Espacio a la derecha de la imagen */
  }
  
  
  .text {
    flex: 1;
    font-size: 17px;
    border-radius: 60px; /* Agrega bordes curvos al contenedor del texto */
    padding: 40px; /* Agrega espacio interno al contenedor del texto */
    margin: 20px ; /* Añade un margen lateral alrededor del contenedor del texto */
    max-width: 80%; /* Limita el ancho del contenedor del texto */
    margin-top: 80px;
    animation: levantarPerfil 2s infinite alternate ease-in-out;
   
  }
  @keyframes levantarPerfil {
    0% {
        transform: translateY(0); /* Posición inicial: sin cambio */
    }
    100% {
        transform: translateY(-8px); /* Levantamiento de 5px hacia arriba */
    }
}
  .right-box {
    background-color: #ffffff; 
    border-radius: 100px; /* Bordes redondeados */
    padding: 40px; 
    width: 80%; 
  }
 /* Como podemos ayudarte ajustes para dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .container-2 {
    text-align: center;
    margin-top: 20px; 
  }

  .colaborar-container-2 {
    display: flex;
    flex-direction: column; 
   
    align-items: center;
    padding: 10px;
  }

  .colaborar-container-2 .image img {
    max-width: 100%; 
    margin-left: -120px;
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .text {
    width: 100%; 
    padding: 0 20px; 
    font-size: 16px; 
    text-align: center; 
  }

  .right-box {
    padding: 20px; 
    width: 100%; 
    border-radius: 20px; /* Reduci la curvatura de los bordes */
  }
}
@media screen and (max-width: 1100px) {
    /* Estilos para pantallas menores a 1000px */
    .container-2 {
      text-align: center;
      margin-top: 20px;
    }
  
    .colaborar-container-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .colaborar-container-2 .image img {
      max-width: 100%;
      margin-left: -120px;
      margin-right: 0;
      margin-bottom: 20px; /* Espacio inferior */
    }
  
    .text {
      width: 100%;
      padding: 0 20px;
      font-size: 16px; 
      text-align: center;
    }
  
    .right-box {
      padding: 20px; 
      width: 100%;
      border-radius: 20px; 
    }
  }
  /* Estilo Footer */
footer {
    margin: 0px;
    width: 100%;
    background-color: #67c1e592;
    padding: 10px;
    color: white;
    font-size: 10px;
    display: block;
   
  }
  
  
  .contenedor-footer {
    display: flex;
    justify-content: right;
    margin: auto;
    max-width: 1450px;

  }
  
  
  .redes-sociales img {
    width: 40px;
    height: auto;
    position: relative;
  }
  
  
  .condiciones ul {
    list-style: none; 
    padding: 0; /* Elimina el relleno predeterminado */
    margin-right: 30px;
    margin-top: 20px;
    text-align: right;
    position: relative;
  }
  
  
  .condiciones ul li {
    margin-bottom: 2px 2px; /* Ajusta el espacio entre elementos de la lista */
  }
  
  
  .condiciones ul li:nth-child(1) a {
    font-size: 18px; 
    font-weight: bold;
  }
  
  
  .condiciones ul li:nth-child(2) a {
    font-size: 10px;
    font-weight: bold;
  }
  
  
  .condiciones ul li:nth-child(3) a {
    font-size: 10px; 
    font-weight: bold;
  }
  
  
  .condiciones ul li a {
    text-decoration: none; 
    color: #369ac2; 
  }
   /* Footer estilos para dispositivos más pequeños */
@media screen and (max-width: 1000px) {
  footer {
    padding: 5px; 
    font-size: 8px; 
  }


  .contenedor-footer {
    justify-content: center;
    max-width: 100%; 
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    text-align: center; 
  }


  .redes-sociales img {
    width: 30px; /* Reduci el tamaño de las imágenes */
    margin: 5px; /* Añadi un poco de espacio entre las imágenes */
  }


  .condiciones ul {
    margin-top: 10px;
    text-align: center; 
    margin-right: -5px;
  }


  .condiciones ul li {
    margin-bottom: 5px; /* Ajuste el espacio entre elementos de la lista */
  }


  .condiciones ul li a {
    font-size: 8px; /* el tamaño del texto de los enlaces */
  }
}



